.red-color {
  background-color: #960037;
}
.redText {
  color: #960037;
}

.brown-color {
  background-color: #A89055;
}

.light-color {
  background-color: #A89055;
}

.black-color {
  background-color: #262626;
}

.gradientColor {
  background: linear-gradient(70deg, #960037 50%, #A89055);
}

.glow-effect {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 40px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4);
}
