.red-color {
  background-color: #96193a;
}
.redText {
  color: #96193a;
}

.brown-color {
  background-color: #a99056;
}

.light-color {
  background-color: #e7e8e9;
}

.black-color {
  background-color: #252525;
}
