@import "tailwindcss";
@font-face {
  font-family: "normalFont";
  src: url("/fonts/NeueHaasDisplayLight.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mediumFont";
  src: url("/fonts/NeueHaasDisplayMediu.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "normalFont";
}
